.container {
  width: 100%;
  > * {
    width: 100%;
  }

  .errorText {
    color: red;
    font-weight: 500;
    margin-top: 2px;
    font-size: x-small;
  }

  .trigger {
    &.error {
      box-shadow: inset 0 0 0 1px red;
    }

    // Mimic Radix Select Trigger if we use a native HTML element or different component
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    --text-field-selection-color: var(--focus-a5);
    --text-field-focus-color: var(--focus-8);
    --text-field-border-width: 1px;
    background-clip: content-box;
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a7);
    color: var(--gray-12);

    --text-field-height: var(--space-7);
    --text-field-padding: calc(var(--space-3) - var(--text-field-border-width));
    --text-field-border-radius: max(var(--radius-3), var(--radius-full));
    --text-field-native-icon-size: var(--space-4);
    font-size: var(--font-size-3);
    letter-spacing: var(--letter-spacing-3);

    box-sizing: border-box;
    height: var(--text-field-height);
    padding: var(--text-field-border-width);
    border-radius: var(--text-field-border-radius);
    font-family: var(--default-font-family);
    font-weight: var(--font-weight-regular);
    text-align: start;
    font-style: normal;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    outline: unset;
    border: none;

    &[data-state="open"] {
      outline: 2px solid var(--text-field-focus-color);
      outline-offset: -1px;
    }
  }

  .required {
    color: red;
  }

  .label {
    margin-bottom: 4px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }

  .placeholder {
    color: var(--gray-a10);
  }

  .selectedOption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .triggerIcon {
    width: 11px;
    height: 11px;
    opacity: 0.9;
    flex-shrink: 0;
    fill: currentcolor;
  }
}

.item {
  --select-content-padding: var(--space-2);
  --select-item-height: var(--space-6);
  --select-item-indicator-width: var(--space-5);
  --select-separator-margin-right: var(--space-3);

  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--line-height-2);
  border-radius: var(--radius-2);
  height: var(--select-item-height);
  padding-left: var(--select-item-indicator-width);
  padding-right: var(--select-item-indicator-width);
  box-sizing: border-box;
  scroll-margin: var(--select-content-padding) 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: var(--cursor-menu-item);
  outline: none;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-9);
    color: var(--accent-contrast);
  }
}

.popoverContent {
  padding: var(--select-content-padding);
}

.searchContainer {
  padding: 8px;
  padding-bottom: 0;
}

.optionsContainer {
  max-height: 300px;
  overflow-y: auto;
  padding: 8px;
}

.itemIndicator {
  width: calc(10px * var(--scaling));
  height: calc(10px * var(--scaling));
}
