.container {
  .label {
    margin-bottom: 4px;
  }

  .required {
    color: red;
  }

  .inputContainer {
    .right,
    .left {
      cursor: pointer;
    }

    .right.password {
      filter: brightness(0.8);
    }

    &.error {
      box-shadow: inset 0 0 0 var(--text-field-border-width) red;
    }
  }

  .errorText {
    color: red;
    font-size: x-small;
    font-weight: 500;
    margin-top: 2px;
  }
}
